.container{
    color: #c4c4c4;
    font-size:4rem;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 
    2px 2px 0 rgba(0, 0, 0, 0.3),
    4px 4px 0 rgba(0, 0, 0, 0.3),
    6px 6px 0 rgba(0, 0, 0, 0.3),
    8px 8px 0 rgba(0, 0, 0, 0.8);
    animation: pulse 2s infinite ;
}
@keyframes pulse{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.05);
        opacity: 0.8;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}