@import url(./variables.css);
@import url(./animations.css);
@import url(./media.css);

@media (max-width: 600px) {

}

@media (min-width: 601px) and (max-width: 900px) {

}

@media (min-width: 901px) and (max-width: 1200px) {

}

@media (min-width: 1201px) and (max-width: 1600px) {

}

@media (min-width: 1601px) {

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: var(--text-decoration);
}
html,body,#root{
  min-height: 100%;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-extra-large);
  overflow-x: hidden;
  background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
  background-size: cover;
  background-repeat: no-repeat;
}

li {
  list-style: none;
}

a {
  text-decoration: var(--text-decoration);
  color: var(--text-color-dark);
}


