@media (max-width: 600px) {
    .container {
      max-width: var(--max-width-small);
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .container {
      max-width: var(--max-width-medium);
    }
  }
  
  @media (min-width: 901px) and (max-width: 1200px) {
    .container {
      max-width: var(--max-width-large);
    }
  }
  
  @media (min-width: 1201px) and (max-width: 1600px) {
    .container {
      max-width: var(--max-width-extra-large);
    }
  }